{
  "env": {
    "es6": true,
    "mocha": true
  },
  "rules": {
    "quotes": [2, "single"],
    "no-underscore-dangle": 0
  },
  "ecmaFeatures": {
    "modules": true
  },
  "globals": {
    "global": true
  }
}
